html {
    background: url(../img/alamos.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.playable {
    box-shadow:0px 0px 4px 4px #0066cc
    /*animation:pulse 0.5s ease-in-out infinite alternate;*/
}
.hoverplayable {
    animation:pulse 0.5s ease-in-out infinite alternate;
}
@keyframes pulse {
    from { box-shadow:0px 0px 4px 4px #0066cc; }
    to { box-shadow:0px 0px 8px 8px #0066cc; }
}
#showoff {
    display: none;
    position: absolute;
    /*
    width: 241px;
    height: 381px;*/
    top: 50px;
    z-index: 5000;
    right: 10px;
    border: 1px solid black;
}
#fightButton {
    position: absolute;
    left: 520px;
    top: 280px;
    z-index: 4000;
}

#endgame-panel {
    position: absolute;
    left: 300px;
    width: 600px;
    height: 400px;
    top: 200px;
    z-index: 200000;
}

#keepButton {
    position: absolute;
    left: 390px;
    top: 360px;
    width: 290px;
    z-index: 4000;
}
#discardButton {
    position: absolute;
    left: 390px;
    top: 410px;
    width: 290px;
    z-index: 4000;
}
.disabledFightButton {
    opacity: 0.3 !important;
}

.ingamefull {
    margin-left: auto;
    margin-right: auto;
    width: 1550px;
    opacity: 0.99;
}
.ingamescreen {
    margin-top: 50px;
    width: 1200px;
    height: 800px;
    border-radius: 5px;
    background-color: #dcefff;
    border: 6px outset gray;
    position: relative;
    float: left;
}
.logscreen {
    width: 280px;
    height: 780px;
    background-color: #dcefff;
    border: 6px outset gray;
    margin-top: 50px;
    border-radius: 5px;
    position: relative;
    margin-left: 10px;
    float: left;
    padding: 10px;
    overflow: scroll;
}
.card {
    position: absolute;
    left: 0px;
    top:0px;
}
.modifiers {
    border: #cefdf3 1px solid;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
    background-color: #d8f1f5;
    text-align: center;
    position: absolute;
}
#yourModifiers {
    right: 25px;
    width: 250px;
    height: 250px;
    top: 305px;
}
#enemyModifiers {
    right: 25px;
    width: 250px;
    height: 250px;
    top: 45px;
    ;
}
.modifier {
    text-align: left;
}
.modifier img {
    vertical-align: middle;
    margin-right: 5px;
}
.zone {
    border: #cefdf3 1px solid;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
    background-color: #d8f1f5;
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    font-style: italic;
}
#yourDiscardPile {
    left: 20px;
    width: 150px;
    height: 200px;
    bottom: 20px;
}
#yourDeck {
    left: 200px;
    width: 150px;
    height: 200px;
    bottom: 20px;
}
#yourHand {
    left: 380px;
    width: 700px;
    height: 200px;
    bottom: 20px;
}
#enemyDiscardPile {
    left: 20px;
    width: 150px;
    height: 200px;
    top: 20px;
}
#enemyDeck {
    left: 200px;
    width: 150px;
    height: 200px;
    top: 20px;
}
#enemyHand {
    left: 380px;
    width: 700px;
    height: 30px;
    top: 5px;
}
#yourArena {
    right: 300px;
    width: 200px;
    height: 250px;
    top: 305px;
}
#enemyArena {
    right: 300px;
    width: 200px;
    height: 250px;
    top: 45px;
}
#middlebar {
    left:50px;
    width: 320px;
    height: 40px;
    top: 280px;
    background-color: #f3af95;
    box-shadow: 0px 1px 3px rgba(255, 1, 1, 0.05) inset, 0px 0px 8px rgba(255, 0, 0, 0.6) !important;
    border: 1px solid red;
}
#statistics {
    position: absolute;
    background-color: #bed7ff;
    left: 50px;
    width: 300px;
    height: 150px;
    top: 350px;
    border: black 1px solid;
    border-radius: 10px;
    padding: 10px;
}
/* <div id="yourHand" class="zone">Tvoje ruka</div>
    <div id="enemyHand" class="zone">Soupeřova ruka</div>
    <div id="yourArena" class="zone">Tvoje aktivní bytost</div>
    <div id="enemyArena" class="zone">Soupeřova aktivní bytost</div>
    <div id="yourDiscardPile" class="zone">Tvůj odhazovací balíček</div>
    <div id="enemyDiscardPile" class="zone">Soupeřův odhazovací balíček</div>
    <div id="middlebar" class="zone">Hra se načítá ...</div>*/

.score {
    z-index: 900;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    font-size: 30px;
}
.scoreSuccess {
    background-color: white;
    box-shadow: 0px 0px 50px 10px rgba(100,212,8,0.9);
}
.scoreFailure {
    background-color: lightgray;
    box-shadow: 0px 0px 50px 10px rgba(212,8,8,1);


}
#yourScore {
    right: 350px;
    top: 380px;
}
#enemyScore {
    right: 350px;
    top: 120px;
}
/*#yourArena {
    right: 300px;
    width: 200px;
    height: 250px;
    top: 305px;
}
#enemyArena {
    right: 300px;
    width: 200px;
    height: 250px;
    top: 45px;
}*/