<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oracion Online</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/ingame.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="/js/fm.validator.jquery.js"></script>
    <script src="/js/ingame.js"></script>
</head>
<body>
<div class="ingamescreen">
    <div id="yourDeck" class="zone">Tvůj balíček</div>
    <div id="enemyDeck" class="zone">Soupeřův balíček</div>
    <div id="yourHand" class="zone">Tvoje ruka</div>
    <div id="enemyHand" class="zone">Soupeřova ruka</div>
    <div id="yourArena" class="zone">Tvoje aktivní bytost</div>
    <div id="enemyArena" class="zone">Soupeřova aktivní bytost</div>
    <div id="yourDiscardPile" class="zone">Tvůj odhazovací balíček</div>
    <div id="enemyDiscardPile" class="zone">Soupeřův odhazovací balíček</div>
    <div id="middlebar" class="zone">Hra se načítá ...</div>
    <div id="statistics"><b>Statistiky:</b><br>Zatím jsi vyřadil <b>0</b> bytostí.<br>Soupeř ti vyřadil <b>0</b> bytostí.</div>
</div>
</body>
</html>