<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oracion Online : Lobby</title>
    <link href="/css/style.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-1.12.0.js"></script>
    <script src="/js/fm.validator.jquery.js"></script>
    <script src="/js/lobby.js"></script>
</head>
<body>
    <div class="screen">
        <div class="logincaption">
            Oracion Online : Lobby
        </div>
        <fieldset>
            <legend>Statistiky</legend>
            Tvůj e-mail: <b>[[EMAIL]]</b><br>
            Počet her: <b><span id="gameCount">(načítám...)</span></b><br>
            Počet výher: <b><span id="gameVictories">(načítám...)</span></b><br>
            Počet lidí online: <b><span id="numOnline">(načítám...)</span></b><br>
        </fieldset>
        <fieldset>
            <legend>Hrát hru</legend>
            <label for="deck">Vyber si balíček: </label>
            <select name="deck" id="deck">
                <option value="random" selected>Náhodné karty</option>
                <option value="tools">Mnoho nástrojů</option>
            </select>
                <br>
            <select name="games" id="games" size="10" style="width: 500px;">

            </select>
                <br>
            <input type="button" id="buttonJoinGame" value="Připojit se ke hře" style="width: 500px;" onclick="requestJoinGame();"><br>
            <input type="button" id="buttonCreateGame" value="Založit novou hru" onclick="requestCreateGame();" style="width: 500px;">
            <input type="button" id="buttonPlayAI" value="Hrát proti umělé inteligenci" style="width: 500px;" onclick="requestPlayAI();">
        </fieldset>
        <fieldset>
            <legend>Odhlášení</legend>
            <a href="#" onclick="requestLogout(); return false;">Odhlásit se</a>
        </fieldset>
        <br><br>
    </div>
</body>
</html>